.btn-void, .btn {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 14px;
  appearance: none;
  align-items: center;
  border: none;
}

body {
  background: antiquewhite;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.h1 {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  color: #1F2041;
  cursor: pointer;
}

.h2 {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  margin: 0;
  color: #1F2041;
  cursor: pointer;
}

.h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin: 0;
  color: #1F2041;
  cursor: pointer;
}

.p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.5);
  transition: text-shadow 0.3s;
  cursor: pointer;
}

.p:hover {
  text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
}

.btn {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  color: #FFFFFF;
  border: 0;
  width: 100%;
}

.btn-void {
  border-radius: 22px;
  color: #BC9CFF;
  background-color: #FFFFFF;
  outline: 2px solid #BC9CFF;
  padding-left: 20px;
  padding-right: 20px;
  outline-offset: -2px;
}

.btn-void:hover {
  background-color: #BC9CFF;
  outline: 2px solid rgba(255, 255, 255, 0.55);
  color: #FFFFFF;
}

.btn:hover {
  background: linear-gradient(180deg, #8BA4F9 0%, #BC9CFF 100%);
}
.fas {
  font-size: 11px;
  padding-left: 3px;
}

.Dark-Shade-100 {
  background-color: #1F2041;
}

.Dark-Shade-75 {
  background-color: rgba(31, 32, 65, 0.75);
}

.Dark-Shade-50 {
  background-color: rgba(31, 32, 65, 0.5);
}

.Dark-Shade-25 {
  background-color: rgba(31, 32, 65, 0.25);
}

.Dark-Shade-5 {
  background-color: rgba(31, 32, 65, 0.05);
}

.Purple {
  background-color: #BC9CFF;
}

.Green {
  background-color: #6FCF97;
}

.conteiner-content {
  display: flex;
  padding: 145px calc(50% - 650px);
  justify-content: space-between;
}

.sqare {
  height: 70px;
  width: 70px;
  border-radius: 6px;
}

.Rectangle {
  display: flex;
  padding-bottom: 20px;
  align-items: center;
}

.Rectangle-text {
  padding-bottom: 50px;
}

.text-rectangle {
  align-content: center;
  padding-left: 40px;
}

.sqare:hover {
  -webkit-animation: sqare 0.3s linear infinite both;
  animation: sqare 0.3s linear infinite both;
}

@-webkit-keyframes sqare {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes sqare {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

/*# sourceMappingURL=Colors-Type.css.map */
