%input-gradient{
  color: $Gradient;
}
.input-group{
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  @extend %text-content;
  &__input{
    background-color: white;
    border: none;
    padding:10px 0 10px 15px;
  }
  &__btn{
    background-color: white;
    border: none;
    padding:10px 15px 10px 0;
  }
}