//setting default
$Dark-Shade-100: #1F2041;
$Dark-Shade-75: rgba(31, 32, 65, 0.75);
$Dark-Shade-50: rgba(31, 32, 65, 0.5);
$Dark-Shade-25: rgba(31, 32, 65, 0.25);
$Dark-Shade-5: rgba(31, 32, 65, 0.05);
$Purple: #BC9CFF;
$Green: #6FCF97;
$Montserrat: 'Montserrat', sans-serif;
$Quicksand: 'Quicksand', sans-serif;
$Gradient: linear-gradient(180deg, #8BA4F9 0%, #BC9CFF 100%);
@import "btn";
@import "text-content";
@import "inputs";
body{
  background: antiquewhite;
  font-family: $Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $Dark-Shade-75;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.fas{
  font-size: 11px;
  padding-left: 3px;
}
