//colors setting
$Dark-Shade-100: #1F2041;
$Dark-Shade-75: rgba(31, 32, 65, 0.75);
$Dark-Shade-50: rgba(31, 32, 65, 0.5);
$Dark-Shade-25: rgba(31, 32, 65, 0.25);
$Dark-Shade-5: rgba(31, 32, 65, 0.05);
$Purple: #BC9CFF;
$Green: #6FCF97;
$Montserrat: 'Montserrat', sans-serif;
$Quicksand: 'Quicksand', sans-serif;

%for-btn{
  font-family: $Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 14px;
  appearance: none;
  align-items: center;

}

body{
  font-family: $Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $Dark-Shade-75;
  margin: 0;
  padding: 0;

}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
  margin: 0;
  padding: 0;}
.h1{
  font-family: $Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  color: $Dark-Shade-100;
}
.h2{
  font-family: $Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  margin: 0;
  color: $Dark-Shade-100;
}
.h3{
  font-family: $Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin: 0;
  color: $Dark-Shade-100;
}
  .p{
  margin: 0;
  font-family: $Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.btn{
  @extend %for-btn;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  border: 0;
  color: #FFFFFF;
  width: 100%;
}
.btn-void{
  @extend %for-btn;
  border-radius: 22px;
  color: $Purple;
  background-color: #FFFFFF;
  border: 3px solid $Purple;
  padding-left: 20px;
  padding-right: 20px;
  width: 100px;
}
.btn-void:hover{
  background-color: $Purple;
  border: 3px solid rgba(255, 255, 255, 0.55);
  color: #FFFFFF;
}
.btn:hover{
  background: linear-gradient(180deg, #8BA4F9 0%, #BC9CFF 100%);
}