.btn-void, .btn {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 14px;
  appearance: none;
  align-items: center;
  border: none;
}

body {
  background: antiquewhite;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.h1 {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  color: #1F2041;
  cursor: pointer;
}

.h2 {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  margin: 0;
  color: #1F2041;
  cursor: pointer;
}

.h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin: 0;
  color: #1F2041;
  cursor: pointer;
}

.p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.5);
  transition: text-shadow 0.3s;
  cursor: pointer;
}

.p:hover {
  text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
}

.btn {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  color: #FFFFFF;
  border: 0;
  width: 100%;
}

.btn-void {
  border-radius: 22px;
  color: #BC9CFF;
  background-color: #FFFFFF;
  outline: 2px solid #BC9CFF;
  padding-left: 20px;
  padding-right: 20px;
  outline-offset: -2px;
}

.btn-void:hover {
  background-color: #BC9CFF;
  outline: 2px solid rgba(255, 255, 255, 0.55);
  color: #FFFFFF;
}

.btn:hover {
  background: linear-gradient(180deg, #8BA4F9 0%, #BC9CFF 100%);
}
.fas {
  font-size: 11px;
  padding-left: 3px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  flex-wrap: wrap;
}
.navbar-brand {
  display: flex;
  align-items: center;
  padding: 15px 0;
  margin: 0 auto 0 140px;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.navbar-brand__logo {
  padding-right: 12.5px;
}
.navbar-nav {
  display: flex;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.navbar-nav-dropdown {
  display: none;
  flex-direction: column;
  align-items: center;
}
.navbar-nav__item {
  padding: 10px;
  height: 18px;
}
.navbar-nav__item:hover .navbar-nav-dropdown {
  display: flex;
}
.navbar-nav__a {
  padding-right: 3px;
}
.navbar-log {
  align-items: center;
  display: flex;
  margin: 0 140px 0 0;
}
.navbar-log__button1 {
  margin: 10px;
}
.navbar-log__button2 {
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.navbar-log-user {
  border-left: 2px solid rgba(31, 32, 65, 0.05);
  padding: 5px 0px 5px 20px;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
