//colors setting
$Dark-Shade-100: #1F2041;
$Dark-Shade-75: rgba(31, 32, 65, 0.75);
$Dark-Shade-50: rgba(31, 32, 65, 0.5);
$Dark-Shade-25: rgba(31, 32, 65, 0.25);
$Dark-Shade-5: rgba(31, 32, 65, 0.05);
$Purple: #BC9CFF;
$Green: #6FCF97;

//text setting

$h1: 24px;
$h2: 19px;
$h3: 12px;
$text-body: 14px;

body{
  font-family: Quicksand;
  font-style: normal;

}
ul{
  list-style-type: none;
}
li{
  list-style-type: none;
}

