html(lang="ru")
    head
        meta(charset="utf-8")
        title= "Colors&Type"
        link(rel='stylesheet', href='../../src/layout/styles/UIkit/Colors-Type.css')
        link(href='', rel='stylesheet')
    body
        div.conteiner
            div.conteiner-content
                div.conteiner-content-colors
                    ul.colors
                        li(class=['Rectangle'])
                            div(class=['sqare', 'Dark-Shade-100'])
                            div.text-rectangle
                                div.h2 Dark Shade 100%
                                div(class=['p','text-rectangle2']) #1F2041
                        li(class=['Rectangle'])
                            div(class=['sqare', 'Dark-Shade-75'])
                            div.text-rectangle
                                div.h2 Dark Shade 75%
                                div(class=['p','text-rectangle2']) #1F2041
                        li(class=['Rectangle'])
                            div(class=['sqare', 'Dark-Shade-50'])
                            div.text-rectangle
                                div.h2 Dark Shade 50%
                                div(class=['p','text-rectangle2']) #1F2041
                        li(class=['Rectangle'])
                            div(class=['sqare', 'Dark-Shade-25'])
                            div.text-rectangle
                                div.h2 Dark Shade 25%
                                div(class=['p','text-rectangle2']) #1F2041
                        li(class=['Rectangle'])
                            div(class=['sqare', 'Dark-Shade-5'])
                            div.text-rectangle
                                div.h2 Dark Shade 5%
                                div(class=['p','text-rectangle2']) #1F2041
                        li(class=['Rectangle'])
                            div(class=['sqare', 'Purple'])
                            div.text-rectangle
                                div.h2 Purple
                                div(class=['p','text-rectangle2']) #BC9CFF
                        li(class=['Rectangle'])
                            div(class=['sqare', 'Green'])
                            div.text-rectangle
                                div.h2 Green
                                div(class=['p','text-rectangle2']) #6FCF97
                div.conteiner-content-text
                    ul.text
                        li(class=['h1','Rectangle-text']) This one is the sub-section or widget title
                        li(class=['h2','Rectangle-text']) Next one is the item title inside widgets
                        li(class=['h3','Rectangle-text']) This is a label or CTA text
                        li(class=['text-content','Rectangle-text']) This is the body text which is used for most
                            | of the design, like paragraphs, lists, etc.
                        div.view-button
                            button(class='btn', type='button') Зарегистрироваться
                            |
                            |
                            button(class='btn-void', type='button', style='margin-top: 15px') Войти


