html(lang="ru")
    head
        meta(charset="utf-8")
        title= "UIKIT"
        link(rel='stylesheet', href='../../src/layout/styles/style.css')
        script(src='https://kit.fontawesome.com/1f5bf3a5b9.js', crossorigin="anonymous")
    body
        nav.navbar
            a.navbar-brand(href='')
                img.navbar-brand__logo(src='https://raw.githubusercontent.com/RendarR/MetaLamp-Other/master/img/BrandMain.png')
                div.h2 TOXIN
            div.navbar-nav
                a(class=['p','navbar-nav__item']) О нас
                div(class=['navbar-nav__item','dropdown'])
                    a(class=['p','navbar-nav__item'], id='navbarDropdown1' role="button") Услуги
                        i(class=['fas','fa-chevron-down'])
                    ul.navbar-nav-dropdown
                        li(class=['p','navbar-nav__li']) Услуга 1
                        li(class=['p','navbar-nav__li']) Услуга 2
                        li(class=['p','navbar-nav__li']) Услуга 3
                        li(class=['p','navbar-nav__li']) Услуга 4
                a(class=['p','navbar-nav__item']) Вакансии
                a(class=['p','navbar-nav__item']) Новости
                div(class=['navbar-nav__item','dropdown',])
                    a(class=['p','navbar-nav__item'], id='navbarDropdown2' role="button") Соглашения
                        i(class=['fas','fa-chevron-down'])
                    ul.navbar-nav-dropdown
                        li(class=['p', 'navbar-nav__li']) Соглашения 1
                        li(class=['p', 'navbar-nav__li']) Соглашения 2
                        li(class=['p', 'navbar-nav__li']) Соглашения 3
                        li(class=['p', 'navbar-nav__li']) Соглашения 4
            div.navbar-log
                button(class=['btn-void','navbar-log__button1']) Войти
                button(class=['btn','navbar-log__button2']) Зарегистрироваться

        nav(class='navbar', style='margin-top:40px')
            a.navbar-brand(href='')
                img.navbar-brand__logo(src='https://raw.githubusercontent.com/RendarR/MetaLamp-Other/master/img/BrandMain.png')
                div.h2 TOXIN
            div.navbar-nav
                a(class=['p', 'navbar-nav__item']) О нас
                div(class=['navbar-nav__item', 'dropdown'])
                    a(class=['p', 'navbar-nav__item'], id='navbarDropdown1' role="button") Услуги
                        i(class=['fas', 'fa-chevron-down'])
                    ul.navbar-nav-dropdown
                        li(class=['p', 'navbar-nav__li']) Услуга 1
                        li(class=['p', 'navbar-nav__li']) Услуга 2
                        li(class=['p', 'navbar-nav__li']) Услуга 3
                        li(class=['p', 'navbar-nav__li']) Услуга 4
                a(class=['p', 'navbar-nav__item']) Вакансии
                a(class=['p', 'navbar-nav__item']) Новости
                div(class=['navbar-nav__item', 'dropdown',])
                    a(class=['p', 'navbar-nav__item'], id='navbarDropdown2' role="button") Соглашения
                        i(class=['fas', 'fa-chevron-down'])
                    ul.navbar-nav-dropdown
                        li(class=['p', 'navbar-nav__li']) Соглашения 1
                        li(class=['p', 'navbar-nav__li']) Соглашения 2
                        li(class=['p', 'navbar-nav__li']) Соглашения 3
                        li(class=['p', 'navbar-nav__li']) Соглашения 4
            div.navbar-log
                a(class=['p', 'navbar-nav__item','navbar-log-user']) Юлий Цезарь

        footer(class='footer', style='margin-top:40px')
            div.footer-left
                a.brand(href='')
                    img.navbar-brand__logo(src='https://raw.githubusercontent.com/RendarR/MetaLamp-Other/master/img/BrandMain.png')
                    div.h2 TOXIN
                div.text-content Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            ul(class=['footer__ul'])
                li(class=['text-content-b']) Навигация
                li(class=['p','footer__li']) О нас
                li(class=['p','footer__li']) Новости
                li(class=['p','footer__li']) Служба поддержки
                li(class=['p','footer__li']) Услуги
            ul(class=['footer__ul'])
                li(class=['text-content-b']) О нас
                li(class=['p','footer__li']) О сервисе
                li(class=['p','footer__li']) Наша команда
                li(class=['p','footer__li']) Вакансии
                li(class=['p','footer__li']) Инвесторы
            ul(class=['footer__ul'])
                li(class=['text-content-b']) Служба поддержки
                li(class=['p','footer__li']) Соглашения
                li(class=['p','footer__li']) Сообщество
                li(class=['p','footer__li']) Связь с нами
            div.footer-subscribe
                p.text-content-b Подписка
                p(class=['text-content','footer-subscribe__p']) Получайте специальные предложения и новости сервиса
                div.input-group
                    input(class=['input',''] type="search" placeholder="Email" aria-label="Поиск")
                    button(class=["input-btn btn-outline-secondary"], type="button" id="button-addon2")
                        i(class=['fas', 'fa-arrow-right','text-content'])