@import "setting";
.btn{
  @extend %for-btn;
  color: #FFFFFF;
  width: 100%; //Ширина кнопки
  background: $Gradient;
}
.btn-void{
  @extend %for-btn;
  padding-left: 20px;
  padding-right: 20px;
  outline-offset: -2px;
  background: transparent;
  outline: 2px solid $Purple ;
  //border-image: $Gradient;
  //border-image-slice: 1;
  background: $Gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-void:hover{
  background: $Gradient;
  -webkit-text-fill-color: white;
}
.btn:hover{
  background: $Revers-Gradient;

}
%for-btn{
  transform: scale(1, 0.9);
  font-family: $Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 20px;
  align-items: center;
  border-radius: 22px 22px 22px 22px;
  border: 0;
}