@import "setting";
%brand,.brand{
  display: flex;
  align-items:center;
  padding: 15px 0;
}
%block-standard{
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  flex-wrap: wrap;
  &-brand{
    @extend %brand;
    margin: 0 auto 0 0;
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    &__logo{
      padding-right: 12.5px;
    }
  }
  &-nav{
    display: flex;
    flex-wrap: wrap;
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    &-dropdown{
      display: none;
      flex-direction: column;
      align-items: center;
      background-color: #FFFFFF;
      z-index: 1;
    }
    &__item{
      padding: 10px;
      height: 18px;
    }
    &__item:hover{
      .navbar-nav-dropdown{
        display: flex;
      }
    }
    &__a{
      padding-right: 3px;
    }
  }
  &-log{
    align-items:center;
    display: flex;
    margin: 0;
    &__button1{
      margin: 10px;
    }
    &__button2{
      margin: 10px;
      padding-left: 20px;
      padding-right: 20px;
    }
    &-user{
      border-left: 2px solid $Dark-Shade-5;
      padding: 5px 0 5px 20px;
    }
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}