//setting default
$Dark-Shade-100: #1F2041;
$Dark-Shade-75: rgba(31, 32, 65, 0.75);
$Dark-Shade-50: rgba(31, 32, 65, 0.5);
$Dark-Shade-25: rgba(31, 32, 65, 0.25);
$Dark-Shade-5: rgba(31, 32, 65, 0.05);
$Purple: #BC9CFF;
$Green: #6FCF97;
$Montserrat: 'Montserrat', sans-serif;
$Quicksand: 'Quicksand', sans-serif;
$Gradient: linear-gradient(180deg, #8BA4F9 0%, #BC9CFF 100%);
$Revers-Gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

body{
  background: gainsboro;
  font-family: $Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $Dark-Shade-75;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
//Создание медиазапросов для адаптивности
.conteiner{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 140px;
}
.block{
  display: block;
  &-320{
    display: block;
    width: 320px;
  }
  &-267{
    display: block;
    width: 267px;
  }
  &-row{
    display: flex;
    flex-direction: row;
    &-sb{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &-column{
    display: flex;
    flex-direction: column;
  }
  &-flex{
    display: flex;
  }
}
/*
@media (max-width: 1200px) { //Маленькие мониторы
  .conteiner{
    max-width: 970px;
  }
}
@media (max-width: 992px) { //Планшет
  .conteiner{
    max-width: 992px;
  }
}
@media (max-width: 767px) {
  .conteiner{
    max-width: none;
  }
}
@media all{} //Для всех типов устройств
@media print{} //Для документов предварительного просмотра на печать
@media scrin{} //Для цветных мониторов компа
@media speech{} //Для разл синтезаторов речи
@media (orientation: portrait) {} //Ориентация в альбом\портрет
@media (resolution: 2600dpi){} //Зависимость от разрешения экранов
@media (monochrome){} //Когда на чб экране
@media (max-width: 1200px){ //Классический брэйкПоинт Максимальные\минимальные широты\высоты. Применение будет происходить при зщначении максимальной ширины контента в 1200пх
  .conteiner{
    max-width: none;
  }

}
*/

