@import "setting";
%text-content,.p{
  margin: 0;
  font-family: $Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $Dark-Shade-50;
  transition: text-shadow .3s;
  cursor: pointer;
}
.h1{
  transform: scale(1, 0.9);
  font-family: $Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  color: $Dark-Shade-100;
  cursor: pointer;
}
.h2{
  transform: scale(1, 0.9);
  font-family: $Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;
  margin: 0;
  color: $Dark-Shade-100;
  cursor: pointer;
}
.h3{
  transform: scale(1, 0.9);
  margin: 0;
  font-family: $Montserrat;
  font-style: normal;
  font-size: 12px;
  transition: text-shadow .3s;
  cursor: pointer;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  color: $Dark-Shade-100;
}
.p:hover{
  text-shadow: 0 0 1px $Dark-Shade-50, 0 0 1px $Dark-Shade-50;
}
.text-content{
  @extend %text-content;
  &-u{
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
  }
  &-data{
    @extend %text-content;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    color:$Dark-Shade-25;
    height: 44px;
  }
}